Options FollowSymLinks
<IfModule mod_rewrite.c>
	RewriteEngine on
	Options -Indexes
	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	RewriteCond $1 !^(index.php|css|js|images|robots.txt)
	RewriteRule ^(.*)$ /index.php/$1 [L]
	php_flag display_errors On
</IfModule>

<IfModule !modrewrite.c>
	ErrorDocument 404 /index.php
</IfModule>
